# Production Environment Configuration
PORT=5050
MONGODB_URI=mongodb+srv://satviksharma2711_db_user:q8wDQGN1DSdIjbj6@satvikg.vraogkp.mongodb.net/vortex_gaming?retryWrites=true&w=majority
JWT_SECRET=vortex-super-secret-key-10982-x
